swagger: "2.0"
info:
    title: TakeBread API
    version: "1.0"

host: takebread.hopto.org

basePath: /api

schemes:
    - https

produces:
    - application/json

consumes:
    - application/json

definitions:
    Item:
        type: object
        required:
        - title
        properties:
            id:
                type: string
            title:  
                type: string            
    
    ItemWithPosition:
        allOf:
            - $ref: '#/definitions/Item'
              type: object
            - properties:
                position:
                    type: integer
        
    
    List:
        type: object
        required:
          - title
        properties: 
            id:
                type: string
            title:
                type: string
    
    ListWithItems:
        type: object
        required:
          - title
        properties: 
            id:
                type: string
            title:
                type: string
            items:
                type: array
                items: 
                    $ref: '#/definitions/ItemWithPosition'
    
    ListArray:
        type: array
        items: 
            $ref: '#/definitions/List'
        
    
paths:
    /item:
        post:
            operationId: createItem
            description: creates a new item
            consumes: 
                - application/json
            parameters:
                - 
                  name: body
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/Item'
            responses:
                "200":
                    description: success
                    schema:
                        $ref: '#/definitions/Item'
        put:
            operationId: updateItem
            description: updates an existing item
            consumes: 
                - application/json
            parameters:
                - 
                  in: body
                  name: body
                  required: true
                  schema:
                    $ref: '#/definitions/Item'
            responses:
                "200":
                    description: success
                    schema:
                        $ref: '#/definitions/Item'
    /item/{itemID}:
        get:
            operationId: getItem
            description: returns single item by its ID
            parameters:
                - in: path
                  name: itemID
                  required: true
                  type: string
            responses:
                "200":
                    description: OK
                    schema:
                        $ref: '#/definitions/Item'

    /list:
        post: 
            operationId: createLst
            description: creates a new shopping list
            consumes:
                - application/json
            parameters:
              - 
                in: body
                name: body
                required: true
                schema:
                    $ref: '#/definitions/List'
            responses:
                "200":
                    description: OK
                    schema:
                        $ref: '#/definitions/List'
        put:
            operationId: updateList
            description: updates a shopping list
            consumes:
                - application/json
            parameters:
              - 
                in: body
                name: body
                required: true
                schema:
                    $ref: '#/definitions/List'
            responses:
              "200":
                    description: OK
                    schema:
                        $ref: '#/definitions/List'
    
    /list/{listID}:
        get:
            operationId: getList
            description: return items list
            parameters:
              - in: path
                name: listID
                required: true
                type: string
            responses:
              "200": 
                description: OK
                schema:
                    $ref: '#/definitions/List'

    /lists:
        get:
            operationId: listLists
            description: returns lists of all items lists for the user
            responses:
                "200":
                    description: OK
                    schema:
                        $ref: '#/definitions/ListArray'

